Repository ucsb-cs156-w24/team02-w24-5pm-1, pull requests merged in 2024-02, with the labels that each got.

#43 Create Database Table for HelpRequest
  src/main/java/edu/ucsb/cs156/example/entities/HelpRequest.java
  src/main/java/edu/ucsb/cs156/example/repositories/HelpRequestRepository.java
  src/main/resources/db/migration/changes/HelpRequest.json
Labels: HelpRequest

#51 Reccomendation Request Controller
  src/main/java/edu/ucsb/cs156/example/controllers/RecommendationRequestController.java
  src/main/java/edu/ucsb/cs156/example/entities/RecommendationRequest.java
  src/main/java/edu/ucsb/cs156/example/entities/UCSBDate.java
  src/main/java/edu/ucsb/cs156/example/repositories/RecommendationRequestRepository.java
  src/main/resources/db/migration/changes/RecommendationRequest.json
  src/test/java/edu/ucsb/cs156/example/controllers/RecommendationRequestControllerTests.java
Labels: RecommendationRequest

#60 adding UCSBOrganization table
  src/main/java/edu/ucsb/cs156/example/entities/UCSBOrganization.java
  src/main/java/edu/ucsb/cs156/example/repositories/UCSBOrganizationRepository.java
  src/main/resources/db/migration/changes/UCSBOrganization.json
Labels: UCSBOrganization

#59 Add DELETE endpoint for a specific record in MenuItemReview table.
  src/main/java/edu/ucsb/cs156/example/controllers/MenuItemReviewController.java
  src/main/java/edu/ucsb/cs156/example/entities/MenuItemReview.java
  src/main/java/edu/ucsb/cs156/example/repositories/MenuItemReviewRepository.java
  src/main/resources/db/migration/changes/MenuItemReview.json
  src/test/java/edu/ucsb/cs156/example/controllers/MenuItemReviewControllerTests.java
Labels: MenuItemReview

#49 Justin articles controller
  src/main/java/edu/ucsb/cs156/example/controllers/ArticlesController.java
  src/main/java/edu/ucsb/cs156/example/entities/Articles.java
  src/main/java/edu/ucsb/cs156/example/repositories/ArticlesRepository.java
  src/main/resources/db/migration/changes/Articles.json
  src/test/java/edu/ucsb/cs156/example/controllers/ArticlesControllerTests.java
Labels: Articles

#48 Database table created for Articles
  src/main/java/edu/ucsb/cs156/example/entities/Articles.java
  src/main/java/edu/ucsb/cs156/example/repositories/ArticlesRepository.java
  src/main/resources/db/migration/changes/Articles.json
Labels: Articles
